.admin-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-header h1 {
    margin: 3rem 0;
    font-size: 4rem;
}

/* Link CRUD */ 

.container-link-crud {
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.container-link-crud button {
    padding: unset;
    cursor: pointer;
}

table button {
    padding: unset;
    cursor: pointer;
}

.container-link-crud hr {
    height: 2rem;
    margin: 0 0.5rem;
}

.img-trash {
    width: 1.22rem;
}

.crud-img {
    width: 1.5rem;
}

/* Section Admin Compétences */

.admin-competences {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem;
    width: calc(100% - 10rem);
    color: var(--darkblue-color);
}

.admin-container-h2-btn {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    align-items: center;
    width: 100%;
}

.btn-admin {
    font-size: 1rem;
}

.admin-container-hardSkills {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3.5rem;
    align-self: center;
    width: 80%;
    margin: 3rem 0;
}



.admin-container-skill {
    background-color: var(--lightblue-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    justify-content: space-between;
    color: var(--white-color);
}

/* Edition Compétence */

.admin-edit-new-skill {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.admin-form-skill {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 3rem;
}

.form-input-skills {
    border: solid 3px var(--lightblue-color);
    border-radius: 0.625rem;
    font-size: 1rem;
    font-family: var(--font-secondary);
    padding: 0.5rem 0.8rem;
    margin: 1rem 0;
    width: calc(99.2% - 1.6rem);
}

.admin-form-container {
    text-align: center;
}

.admin-form-container label {
    font-size: 2rem;
    font-family: var(--font-primary);
}

.btn-form-skills {
    width: 50%;
    align-self: center;
}


/* Section Admin Projet */

.admin-projets {
    background-color: var(--grey-color);
    color: var(--white-color);
    padding: 2rem 5rem;
    width: calc(100% - 10rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin-container-projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.5rem;
    align-self: center;
    width: 80%;
    margin: 3rem 0;
}

.admin-container-project {
    background-color: var(--darkblue-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    justify-content: space-between;
    color: var(--white-color);
}

/* Admin Edition Projet */ 

.admin-edit-new-project {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.admin-form-project {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 3rem;
}

.form-input-projects {
    border: solid 3px var(--lightblue-color);
    border-radius: 0.625rem;
    font-size: 1rem;
    font-family: var(--font-secondary);
    padding: 0.5rem 0.8rem;
    margin: 1rem 0;
    width: calc(99.2% - 1.6rem);
}

textarea.form-input-projects {
    height: 10rem;
}

.admin-form-container {
    text-align: center;
}

.admin-form-container label {
    font-size: 2rem;
    font-family: var(--font-primary);
}

.btn-form-projects {
    width: 50%;
    align-self: center;
}


/* Section Admin Contact */

.admin-contact {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem;
    width: calc(100% - 10rem);
    color: var(--darkblue-color);
}

.admin-container-contact {
    width: 80%;
    margin: 3rem auto;
}

table {
    border:1px solid #b3adad;
    border-collapse:collapse;
    margin: 0 auto
}
table th {
    border:1px solid #b3adad;
    padding:6px;
    background: #f0f0f0;
    color: #313030;
}
table td {
    border:1px solid #b3adad;
    text-align:center;
    padding:6px;
    background: #ffffff;
    color: #313030;
}