{% extends 'base_admin.html.twig' %}

{% block title %}{{ parent() }}Compétences{% endblock %}

{% block body %}
    <section class="admin-edit-new-skill">
        <h2>Modifier la compétence</h2>
        {{ include('admin/hardSkills/_form.html.twig', {'button_label': 'Modifier la compétence'}) }}
    </section>
{% endblock %}