/* Header */
.home-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container-title {
    text-align: center;
    padding: 5rem;
}

.h2-header-home {
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 1.5rem;
    
}


/* Main */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

/* Section Présentation */

.section-presentation {
    background-color: var(--white-color);
    align-items: center;
}

.container-presentation {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    margin-top: 2rem;
}

.my-description {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
}

.my-description p {
    text-align: left;
    padding: 1rem;
}

.container-reseau {
    display: flex;
}

.container-reseau a {
    margin: 0.5rem 1rem;
}

.presentation-img {
    width: 25%;
    height: 100%;
    align-self: center;
}

.presentation-img img {
    width: 100%;
}

.btn-CV {
    margin: 1rem 0;
}

