<div>
    <h3>@ Baptiste Trouille | 2024</h3>
</div>
<div class="container-reseau">
    <a href="{{ linkReseau.linkedin }}" target="_blank">
        <img class="link-github-linkedin" src="{{ asset("build/images/icones/icon-linkedin.svg") }}" alt="linkedin">
    </a>
    <a href="{{ linkReseau.github }}" target="_blank">
        <img class="link-github-linkedin" src="{{ asset("build/images/icones/icon-github.svg") }}" alt="github">
    </a>
</div>